NODE_ENV=development
NUXT_PUBLIC_SITE_URL=http://localhost:3101
NUXT_PUBLIC_API_BASE=https://api.example.com
PORT=3101

NUXT_PUBLIC_BACKEND_URL_SETTING=http://localhost:3200

# APM Client
NUXT_PUBLIC_APM_SERVER_URL=http://localhost:8200
# APM NUXT SERVER
NUXT_APM_SERVER_URL=http://localhost:8200
NUXT_SERVER_URL_DOCKER=http://apm-server:8200

NUXT_APM_API_KEY=
NUXT_PUBLIC_APM_ACTIVE=true

TZ=Asia/Jakarta
